extends ../layout
include ../mixins/mixins

block content
    .contacts-pg.pg-wrapper
        section.top-page-box
            ._container.container
                ._inner
                    .breadcrumbs
                        ._items
                            a(href="/")._item Главная
                            ._item Контакты
                    h1._title Контакты
            ._bg.grid-bg
                +pictureAdaptive('top-page-box-grid', 'png', 1920, 250, 479)
        section.contacts-items
            ._container.container
                ._inner
                    a(href="tel:+77079509026")._item.w-shadow
                        ._item-body
                            ._item-content
                                +icon('sparkle')
                                | +7 707 950 90 26
                    a(href="mailto:denis54321@gmail.com")._item.w-shadow
                        ._item-body
                            ._item-content
                                +icon('sparkle')
                                | denis54321@gmail.com
                    ._item.-socials.w-shadow
                        ._item-body
                            ._item-socials-box
                                a(href="#")._item-social.-vk
                                    +icon('vk')
                                a(href="#")._item-social.-tg
                                    +icon('tg')
        section.contacts-cities
            ._container.container
                ._items.js-hide-some(data-max-items="10" data-items-to-show="10").js-cities-list
        section.lead-magnet-dark.-questions
            ._container.container
                .sparkle-sticker
                    +icon('sparkle')
                ._inner
                    h2._title.h2 Остались вопросы?
                    ._text Наш менеджер ответит! Спрашивайте о&nbsp;чем угодно: о&nbsp;сроках выполнения работы, оплате, актуальных акциях и&nbsp;обо всем, что вам интересно.
                    form._form.js-validator
                        ._form-items-wrapper.form-items-wrapper
                            ._form-item.form-item.form-item--50.w-shadow
                                input(type="text" placeholder="E-mail" data-validator-type="email").common-input.js-input-required
                            ._form-item.form-item.form-item--50
                                button(type="submit")._submit-btn.common-btn.common-btn--pink.w-shadow
                                    .common-btn__body Написать
                    ._arrow
            ._bg.grid-bg
                +pictureAdaptive('bg-grid', 'png', 1918, 867, 767)