extends ../layout
include ../mixins/mixins

block content
    .main-pg.pg-wrapper
        section.main-form
            ._container.container
                ._inner
                    ._content
                        h1._title.h1
                            span.txt-green.w-stars Минимальная цена
                                +icon('star')
                                +icon('star')
                            <br>
                            | на&nbsp;помощь с&nbsp;написанием студенческих работ
                        ._text Курсовые, дипломные, практические задания и&nbsp;другие работы
                        form._form.js-validator
                            ._form-items-wrapper.form-items-wrapper
                                ._form-item.form-item.form-item--50.w-shadow
                                    input(type="text" placeholder="E-mail" data-validator-type="email").common-input.js-input-required
                                ._form-item.form-item.form-item--50.w-shadow
                                    select(name="type_work").js-search-select.js-input-required
                                        option(value="") Тип работы
                                        option(value="dissertatsija") Диссертация
                                        option(value="diplom") Диплом
                                        option(value="refer") Реферат
                            button(type="submit")._submit-btn.common-btn.common-btn--pink.w-shadow
                                .common-btn__body Заказать
                            ._sticker.w-shadow
                                ._sticker-body
                                    +icon('lightning')
                                    | Кешбэк 10%
                    ._img
                        +pictureAdaptive('main-form', 'png', 512, 602, 599)
            ._bg.grid-bg
                +pictureAdaptive('main-grid', 'png', 1920, 801, 479)
        section.lead-magnet.-summer
            ._container.container
                ._inner
                    ._content
                        h2._title.h2 Летом самые низкие цены
                        a(href="#")._btn.common-btn.common-btn--pink.w-shadow
                            .common-btn__body Заказать
                    ._bg.grid-bg
                        +pictureAdaptive('main-banner-bg', 'png', 1217, 282, 767)
                    ._abs-img.-one.abs-img
                        +picture('main-banner-summer1', 'png', 163, 173)
                    ._abs-img.-two.abs-img
                        +icon('mb-arrow')
                    ._abs-img.-three.abs-img
                        +picture('main-banner-summer3', 'png', 163, 134)
                    ._abs-img.-four.abs-img
                        +picture('main-banner-summer4', 'png', 322, 229)
                    ._abs-img.-five.abs-img
                        +picture('main-banner-summer5', 'png', 137, 137)
        section.steps
            ._container.container
                ._items
                    ._item.w-shadow
                        ._item-content
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Подберём лучшего исполнителя по&nbsp;вашему предмету
                            ._item-text Вам&nbsp;не&nbsp;придётся заниматься поиском автора и&nbsp;обсуждением деталей заказа.
                        ._item-img
                            +pictureAdaptive('steps1', 'png', 185, 185, 479)
                    ._item.w-shadow
                        ._item-content
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Проконтролируем автора по&nbsp;срокам и&nbsp;качеству
                            ._item-text Наш&nbsp;отдел качества проверит заказ на&nbsp;соответствие требованиям и&nbsp;МУ.
                        ._item-img
                            +pictureAdaptive('steps2', 'png', 185, 185, 479)
                    ._item.w-shadow
                        ._item-content
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Не&nbsp;знаете с&nbsp;чего начать?
                            ._item-text Выполним план к&nbsp;вашей работе бесплатно, после&nbsp;согласования приступим к&nbsp;выполнению работы.
                        ._item-img
                            +pictureAdaptive('steps3', 'png', 185, 185, 479)
                    ._item.w-shadow
                        ._item-content
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Хотите проконтролировать ход&nbsp;написания работы?
                            ._item-text Выдадим работу по&nbsp;главам, после&nbsp;согласования приступим к&nbsp;следующей.
                        ._item-img
                            +pictureAdaptive('steps4', 'png', 185, 185, 479)
            ._bg.grid-bg
                +pictureAdaptive('bg-grid', 'png', 1918, 867, 767)
        section.lead-magnet.-discount
            ._container.container
                ._inner
                    ._content
                        ._leftbox
                            h2._title.h2 Хочу скидку!
                            ._salebox
                                ._old-price 1000 ₽
                                +icon('dashed-arrow-right')
                                ._price 900 ₽
                        ._rightbox
                            ._subtitle Дарим 10% скидку на&nbsp;первый заказ!
                            a(href="#")._btn.common-btn.common-btn--pink.w-shadow
                                .common-btn__body Заказать
                        ._abs-img.-one.abs-img
                    ._sticker.w-shadow
                        ._sticker-body
                            +icon('sparkle')
                            ._sticker-text 10%
                            +icon('sparkle')
                    ._bg.grid-bg
                        +pictureAdaptive('main-banner-bg', 'png', 1217, 282, 767)
        section.services
            ._container.container
                h2._title.h2 Популярные #[span.txt-pink услуги]
                ._items
                    ._item.w-shadow
                        ._item-body
                            ._item-heading Курсовые
                            ._item-box
                                ._item-exec-time от 4х часов
                                ._pricebox
                                    ._old-price 2000 ₽
                                    ._price от 1490 ₽
                            a(href="#")._item-btn.common-btn.common-btn--pink.w-shadow
                                .common-btn__body Заказать
                    ._item.w-shadow
                        ._item-body
                            ._item-heading Дипломные
                            ._item-box
                                ._item-exec-time от 3х дней
                                ._pricebox
                                    ._old-price 12.900 ₽
                                    ._price от 9900 ₽
                            a(href="#")._item-btn.common-btn.common-btn--pink.w-shadow
                                .common-btn__body Заказать
                    ._item.w-shadow
                        ._item-body
                            ._item-heading Практические задания
                            ._item-box
                                ._item-exec-time от 4х часов
                                ._pricebox
                                    ._old-price 2000 ₽
                                    ._price 1490 ₽
                            a(href="#")._item-btn.common-btn.common-btn--pink.w-shadow
                                .common-btn__body Заказать
                    ._item.w-shadow
                        ._item-body
                            ._item-heading Реферат
                            ._item-box
                                ._item-exec-time от 4х часов
                                ._pricebox
                                    ._old-price 2000 ₽
                                    ._price от 990 ₽
                            a(href="#")._item-btn.common-btn.common-btn--pink.w-shadow
                                .common-btn__body Заказать
                a(href="#")._more-btn.common-btn.common-btn--pink.w-shadow
                    .common-btn__body Все услуги
        section.lead-magnet-dark.-know-price
            ._container.container
                .sparkle-sticker
                    +icon('sparkle')
                ._inner
                    ._left
                        h2._title.h2 Узнайте #[span.txt-yellow стоимость] своей работы!
                        ._text Расчёт стоимости заказа происходит сразу онлайн. После оплаты заказа 10% возвращается на счёт в личном кабинете.
                        ._sticker.w-shadow
                            ._sticker-body
                                +icon('sparkle')
                                ._sticker-text Или можно оплатить до 50% стоимости следующего заказа
                                +icon('sparkle')
                    ._right
                        form._form.js-validator
                            ._form-items-wrapper.form-items-wrapper
                                ._form-item.form-item.w-shadow
                                    input(type="text" placeholder="E-mail" data-validator-type="email").common-input.js-input-required
                                ._form-item.form-item.w-shadow
                                    select(name="type_work").js-search-select.js-input-required
                                        option(value="") Тип работы
                                        option(value="dissertatsija") Диссертация
                                        option(value="diplom") Диплом
                                        option(value="refer") Реферат
                            button(type="submit")._submit-btn.common-btn.common-btn--pink.w-shadow
                                .common-btn__body Узнать стоимость
                    ._arrow
            ._bg.grid-bg
                +pictureAdaptive('bg-grid', 'png', 1918, 867, 767)
        section.features
            ._container.container
                ._inner
                    ._content
                        h2._title.h2 Почему выбирают #[span.txt-green Studysale]
                        ._items
                                ._item.w-shadow
                                    ._item-body
                                        ._item-heading
                                            +icon('sparkle')
                                            ._item-heading-text № 1
                                        ._item-text По количеству оффлайн-офисов 20&nbsp;городах России.
                                ._item.w-shadow
                                    ._item-body
                                        ._item-heading
                                            +icon('sparkle')
                                            ._item-heading-text 100 000+
                                        ._item-text Выполненных дипломов и&nbsp;диссертаций с&nbsp;нашей помощью.
                                ._item.w-shadow
                                    ._item-body
                                        ._item-heading
                                            +icon('sparkle')
                                            ._item-heading-text 4,9
                                        ._item-text Средняя оценка по&nbsp;результатам опросов клиентов.
                                ._item.w-shadow
                                    ._item-body
                                        ._item-heading
                                            +icon('sparkle')
                                            ._item-heading-text 16
                                        ._item-text Лет консультируем по&nbsp;написанию работ.
                                ._item.w-shadow
                                    ._item-body
                                        ._item-heading
                                            +icon('sparkle')
                                            ._item-heading-text 24/7
                                        ._item-text Ваш персональный менеджер всегда на&nbsp;связи.
                    ._sticker
                        +pictureAdaptive('features-sticker', 'png', 194, 190, 767)
                    ._waves
                        +picture('features-waves', 'png', 454, 291)
                    ._bg.grid-bg
                        +pictureAdaptive('bg-grid', 'png', 1918, 867, 767)
        section.lead-magnet.-price
            ._container.container
                .sparkle-sticker.-lead-magnet
                    +icon('sparkle')
                ._inner
                    ._content
                        h2._title.h2 Цена видна #[span.txt-bg-dark сразу] при&nbsp;оформлении заказа
                        a(href="#")._btn.common-btn.common-btn--pink.w-shadow
                            .common-btn__body Узнать цену
                    ._bg.grid-bg
                        +pictureAdaptive('main-banner-bg', 'png', 1217, 282, 767)
                    ._abs-img.-one.abs-img
                        +picture('main-banner-price1', 'png', 125, 122)
                    ._abs-img.-two.abs-img
                        +picture('main-banner-price2', 'png', 265, 258)
                    ._arrow
        section.advantages
            ._container.container
                h2._title.h2 Наши #[span.txt-green преимущества]
                ._items
                    ._item.-lg.w-shadow
                        ._item-body
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text За 16 лет помогли с более чем 800 000 работами
                            ._item-text Ваш заказ будет выполнен точно в срок. Берёмся за выполнение сложных и нестандартных заказов.
                            ._item-img
                                +pictureAdaptive('advantages1', 'png', 301, 207, 1199)
                    ._item.w-shadow
                        ._item-body
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Низкие цены
                            ._item-text Вам не придётся переплачивать за учебные работы. Система аукциона и большие объёмы позволяют нам предложить одни из самых низких цен на рынке.
                    ._item.w-shadow
                        ._item-body
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Нет комиссии платформы
                            ._item-text Мы — за честные отношения. У нас нет дополнительных комиссий платформы. Окончательная цена видна сразу при оформлении заказа.
                    ._item.w-shadow
                        ._item-body
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Помогаем "под ключ"
                            ._item-text У нас не надо заниматься поиском исполнителя, обсуждением условий заказа и проверкой работы за автором. Подберем лучшего доступного исполнителя, проверим работу на соответствие всем требованиям. Вам нужно только сдать работу преподавателю.
                    ._item.w-shadow
                        ._item-body
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Опытные исполнители
                            ._item-text Наши специалисты проходят строгий отбор. Заказы распределяются с учетом образованиям и&nbsp;опыта специалиста, чтобы вам помогал тот, кто разбирается в теме.
        section.how-it-works
            ._container.container
                ._content
                    h2._title.h2 Как это работает
                    ._items
                        ._item
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text 1
                            ._item-text Цена видна в онлайн-калькуляторе еще&nbsp;до&nbsp;оформления заказа.
                        ._item
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text 2
                            ._item-text После оформления заказа и&nbsp;внесения предоплаты 50%, приступаем к&nbsp;оказанию помощи. Статус можно отслеживать в&nbsp;удобном личном кабинете.
                        ._item
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text 3
                            ._item-text После выполнения заказа, вносите оставшуюся часть оплаты и&nbsp;скачивайте результат в&nbsp;личном кабинете.
                        ._item
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text 4
                            ._item-text Ждем вашей оценки. Так&nbsp;мы&nbsp;понимаем, что сделали хорошо, а&nbsp;что&nbsp;можно улучшить.
                    ._arrow.-one
                    ._arrow.-two
                    ._arrow.-three
                    ._abs-img.-one.abs-img
                        +picture('how-it-works1', 'png', 218, 229)
            ._abs-img.-two.abs-img
                +picture('how-it-works2', 'png', 992, 414)
            ._bg.grid-bg
                +pictureAdaptive('bg-grid', 'png', 1918, 867, 767)
        section.guarantees
            ._container.container
                h2._title.h2 Наши #[span.txt-pink гарантии]
                ._items
                    ._item.w-shadow
                        ._item-body
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Безопасные платежи
                            ._item-text Прием платежей осуществляется через защищенный шлюз Сбербанка. Никто не&nbsp;получит доступ к&nbsp;вашим платежным данным.
                    ._item.w-shadow
                        ._item-body
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Официальный договор оферта
                            ._item-text Формализуем наши отношения посредством договора оферты. Выдаем онлайн чек на&nbsp;почту. Печатный выдаем в офисах.
                    ._item.w-shadow
                        ._item-body
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Бесплатные доработки
                            ._item-text Преподаватель вернул работу на&nbsp;доработку? Выполним бесплатно в&nbsp;рамках первоначальных требований.
                    ._item.w-shadow
                        ._item-body
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Сделаем точно в&nbsp;срок
                            ._item-text Если что-то пойдет не&nbsp;так или&nbsp;автор заболеет, заменим исполнителя без&nbsp;приостановки выполнения работы.
                    ._item.w-shadow
                        ._item-body
                            ._item-heading
                                +icon('sparkle')
                                ._item-heading-text Оригинальная работа в&nbsp;соответствии с&nbsp;методическими указаниями
                            ._item-text Наш отдел технического контроля проконтролирует соблюдение требований методического указания, ГОСТа и % оригинальности.
        section.feedbacks
            ._container.container
                ._title-box
                    h2._title.h2 Наши #[span.txt-green отзывы]
                    ._rating-items
                        ._rating-item
                            +icon('rating-google')
                            ._rating-item-num 4.9
                        ._rating-item
                            +icon('rating-yahoo')
                            ._rating-item-num 4.2
                        ._rating-item
                            +icon('rating-2gis')
                            ._rating-item-num 4.7
                        ._rating-item
                            +icon('rating-yandex')
                            ._rating-item-num 4.7
                    ._slider-controls.slider-controls
                        .swiper-button.swiper-button--prev
                            +icon('arrow-slider-right')
                        .swiper-button.swiper-button--next
                            +icon('arrow-slider-right')
                ._slider-wrapper
                    ._slider.swiper-slider.js-feedbacks-slider
                        ._swiper-wrapper.swiper-wrapper
                            ._swiper-slide.swiper-slide
                                ._item.w-shadow
                                    ._item-body
                                        ._item-top
                                            ._item-card
                                                ._item-avatar
                                                    +icon('avatar-ph-female')
                                                ._item-card-box
                                                    ._item-card-name Наталья
                                                    ._item-card-stars.js-rating-stars(data-rating="4.5")
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                            ._item-source
                                                +icon('rating-google')
                                                ._item-source-name Google
                                        ._item-text Уже не в первый раз обращаюсь к ребятам из StudySale. Всегда оперативно помогают. В прошлый раз помогли мне с курсовой за 2 дня. В этот раз решила обратиться за помощью с дипломом и не прогадала. Защитилась в итоге на 5!
                            ._swiper-slide.swiper-slide
                                ._item.w-shadow
                                    ._item-body
                                        ._item-top
                                            ._item-card
                                                ._item-avatar
                                                    +icon('avatar-ph-male')
                                                ._item-card-box
                                                    ._item-card-name Михаил
                                                    ._item-card-stars.js-rating-stars(data-rating="5")
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                            ._item-source
                                                +icon('rating-yandex')
                                                ._item-source-name Yandex
                                        ._item-text Решила проконсультироваться по написанию дипломной работы. Зашла на первый попавшийся сайт. Рассчитала на сайте примерную стоимость и решилась. Удовольствие недешёвое, но это лучше, чем тратить свои нервы и силы, пытаясь разобраться во всем самостоятельно, тем более времени на это абсолютно нет. После консультации работу писала неспешно. Уже показала своему научному руководителю, одобрил. Были нюансы по оформлению, но тут моя вина, у нас в вузе методичка другая.
                            ._swiper-slide.swiper-slide
                                ._item.w-shadow
                                    ._item-body
                                        ._item-top
                                            ._item-card
                                                ._item-avatar
                                                    +icon('avatar-ph-female')
                                                ._item-card-box
                                                    ._item-card-name Наталья
                                                    ._item-card-stars.js-rating-stars(data-rating="1.7")
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                                        ._item-card-star.js-star
                                                            +icon('rating-star')
                                            ._item-source
                                                +icon('rating-google')
                                                ._item-source-name Google
                                        ._item-text Уже не в первый раз обращаюсь к ребятам из StudySale. Всегда оперативно помогают. В прошлый раз помогли мне с курсовой за 2 дня. В этот раз решила обратиться за помощью с дипломом и не прогадала. Защитилась в итоге на 5!
        section.lead-magnet.-free-plan
            ._container.container
                .sparkle-sticker.-lead-magnet
                    +icon('sparkle')
                ._inner
                    ._content
                        h2._title.h2 Напишем план к&nbsp;вашей работе за&nbsp;2&nbsp;дня совершенно
                        ._bottom-box
                            ._free-sticker бесплатно
                            a(href="#")._btn.common-btn.common-btn--pink.w-shadow
                                .common-btn__body Заказать
                    ._bg.grid-bg
                        +pictureAdaptive('main-banner-bg', 'png', 1217, 282, 767)
                    ._arrow
        section.specialists
            ._container.container
                ._inner
                    h2._title.h2 Вам не надо тратить время на поиск подходящего специалиста, #[span.txt-yellow мы отобрали сильнейших!]
                    ._items
                        ._item С диссертациями и дипломами помогают только лучшие специалисты.
                            ._item-arrow
                        ._item При подборе исполнителя учитываем опыт работы по вашему предмету, оценку его работы другими клиентами, сдачу в срок, отсутствие доработок.
                            ._item-arrow
                        ._item По диссертациям помощь оказывают кандидаты и доктора наук. С ними можно пообщаться по конференц-связи.
                            ._item-arrow


            ._abs-img.-one.abs-img
                +pictureAdaptive('spec-doc', 'png', 445, 611, 767)
            ._abs-img.-two.abs-img
                +picture('spec-waves', 'png', 1917, 284)
            ._bg.grid-bg
                +pictureAdaptive('bg-grid', 'png', 1918, 867, 767)
        section.faq
            ._container.container
                 h2._title.h2 #[span.txt-green Ответы] на вопросы
                 ._items
                     ._item.w-shadow
                         ._item-body
                             ._item-heading
                                 +icon('sparkle')
                                 ._item-heading-text Вы заключаете договор?
                             ._item-text Заключаем договор оферту или письменный договор, при оформлении заказа в офисе. Выдаем онлайн чек или печатный чек в офисе. Оформляем наши с вами отношениям официально, с четко прописанными гарантиями в договоре.
                     ._item.w-shadow
                         ._item-body
                             ._item-heading
                                 +icon('sparkle')
                                 ._item-heading-text Какие даете гарантии на оказанную помощь?
                             ._item-text Гарантируем, что помощь будет оказана по всем указанным требованиям в заявке. Если потребуются доработки, вносим бесплатно в рамках первоначальных требований.
                     ._item.w-shadow
                         ._item-body
                             ._item-heading
                                 +icon('sparkle')
                                 ._item-heading-text Какой результат от вашей помощи?
                             ._item-text В результате у нас с вами получится полностью написанная, уникальная, проверенная отделом качества работа. Ее можно скачать в личном кабинете.
                     ._item.w-shadow
                         ._item-body
                             ._item-heading
                                 +icon('sparkle')
                                 ._item-heading-text Мои личные данные будут защищены?
                             ._item-text Все данные указанные на нашем сайте не будут переданы третьм лицам. Это закреплено в политике обработки персональных данных.
                     ._item.w-shadow
                         ._item-body
                             ._item-heading
                                 +icon('sparkle')
                                 ._item-heading-text Если работа меня не устроит, смогу ли я вернуть деньги?
                             ._item-text Очень редко, но иногда что-то может пойти не так. Если работа не будет соответствовать вашим требованиям, мы вернем деньги.
                     ._item.w-shadow
                         ._item-body
                             ._item-heading
                                 +icon('sparkle')
                                 ._item-heading-text Можно ли пообщаться со специалистом напрямую?
                             ._item-text Да, если помощь оказывается по кандидатским или докторским диссертациям, можно связаться со специалистом по конференц-связи.
        section.lead-magnet-dark.-order-now
            ._container.container
                .sparkle-sticker
                    +icon('sparkle')
                ._inner
                    ._left
                        h2._title.h2 Оформить #[span.txt-yellow заказ]
                        ._text Расчёт стоимости заказа происходит сразу онлайн. После оплаты заказа 10% возвращается на счёт в личном кабинете.
                        ._sticker.w-shadow
                            ._sticker-body
                                +icon('sparkle')
                                ._sticker-text Или можно оплатить до 50% стоимости следующего заказа
                                +icon('sparkle')
                    ._right
                        form._form.js-validator
                            ._form-items-wrapper.form-items-wrapper
                                ._form-item.form-item.w-shadow
                                    input(type="text" placeholder="E-mail" data-validator-type="email").common-input.js-input-required
                                ._form-item.form-item.w-shadow
                                    select(name="type_work").js-search-select.js-input-required
                                        option(value="") Тип работы
                                        option(value="dissertatsija") Диссертация
                                        option(value="diplom") Диплом
                                        option(value="refer") Реферат
                            button(type="submit")._submit-btn.common-btn.common-btn--pink.w-shadow
                                .common-btn__body Узнать стоимость
                    ._arrow
            ._bg.grid-bg
                +pictureAdaptive('bg-grid', 'png', 1918, 867, 767)
        section.cities
            ._container.container
                h2._title.h2 Наши #[span.txt-pink оффлайн-офисы] во&nbsp;всех крупнейших городах&nbsp;России
            ._items
                ._items-line.js-cities-line
                    ._item Челябинск
                    ._item Воронеж
                    ._item Волгоград
                    ._item Омск
                    ._item Томск
                    ._item Москва
                    ._item Санкт-Петербург
                    ._item Екатеринбург
                    ._item Казань
                    ._item Челябинск
                    ._item Воронеж
                    ._item Волгоград
                    ._item Омск
                    ._item Томск
            ._items
                ._items-line.js-cities-line
                    ._item Нижний Новгород
                    ._item Сургут
                    ._item Кемерово
                    ._item Владивосток
                    ._item Ростов-на-Дону
                    ._item Пермь
                    ._item Воронеж
                    ._item Хабаровск
                    ._item Нижний Новгород
        section.seo
            ._container.container
                ._inner
                    ._left
                        ._seo-text
                            h2 Профессионально
                            p Мы гарантируем высокое качество консультаций, так как наши специалисты обладают высокой квалификацией и проходят тщательный тестовый отбор. Только 2 из 10 репетиторов приступают к консультациям.
                            h2 Надежно
                            p Каждый заказ, оформленный на нашей платформе, контролируется персональным менеджером. Благодаря тщательному контролю, вы гарантированно получаете качественную консультацию. Наш отдел технического контроля проверит работу на соответствие МУ, ГОСТ, антиплагиат.
                            h2 Удобно
                            p Вы всегда можете узнать о процессе выполнения консультации и задать вопрос в режиме "онлайн" в личном кабинете.

                    ._right
                        ._table.w-shadow
                            ._table-body
                                ._table-item
                                    ._table-heading Специалист
                                    ._table-text С опытом
                                ._table-item
                                    ._table-heading Гарантия
                                    ._table-text До 6 месяцев
                                ._table-item
                                    ._table-heading Срок помощи
                                    ._table-text от 2-х часов
                                ._table-item
                                    ._table-heading Оригинальность
                                    ._table-text С опытом
                                ._table-item
                                    ._table-heading Цена
                                    ._table-text от 2 500 руб
                                ._table-item
                                    ._table-heading Доработки
                                    ._table-text Бесплатно
                                ._table-item
                                    ._table-heading Анонимность
                                    ._table-text Гарантируем
                                ._table-item
                                    ._table-heading Кешбэк
                                    ._table-text 10%






