doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Study Sale
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="styles/style.min.css")
        link(rel="preload" href="fonts/Montserrat/Montserrat-Medium.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/MontserratAlternates/MontserratAlternates-SemiBold.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/MontserratAlternates/MontserratAlternates-Bold.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/MontserratAlternates/MontserratAlternates-ExtraBold.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/MontserratAlternates/MontserratAlternates-Black.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="scripts/vendor.min.js" as="script")
        link(rel="preload" href="scripts/vendor/validator.min.js" as="script")
        link(rel="preload" href="scripts/main.min.js" as="script")
    body
        block header
            include components/header
        block content
        block footer
            include components/footer
        include components/mobile-menu
        block scripts
            script(src="scripts/vendor.min.js")
            script(src="scripts/vendor/validator.min.js")
            script(src="scripts/main.min.js")

