footer.footer
    ._container.container
        ._inner
            ._col
                a(href="/")._logo-wrapper
                    +icon('logo')
                    ._descriptor by work5
                ._sber
                    +icon('sber-logo')
            ._col
                ._navs
                    nav._nav
                        a(href="#")._nav-item Услуги
                        a(href="#")._nav-item О компании
                        a(href="#")._nav-item Отзывы
                        a(href="#")._nav-item О компании
                        a(href="#")._nav-item Отзывы
                    nav._nav
                        a(href="#")._nav-item Услуги
                        a(href="#")._nav-item О компании
                        a(href="#")._nav-item Отзывы
                        a(href="#")._nav-item О компании
                        a(href="#")._nav-item Отзывы
                    nav._nav
                        a(href="#")._nav-item Услуги
                        a(href="#")._nav-item О компании
                        a(href="#")._nav-item Отзывы
                        a(href="#")._nav-item О компании
                        a(href="#")._nav-item Отзывы
            ._col
                ._contacts-box
                    a(href="tel:+77079509026")._phone +7 707 950 90 26
                    a(href="mailto:denis54321@gmail.com")._mail denis54321@gmail.com
                ._socials
                    a(href="#")._social-item.-tg
                        +icon('tg')
                    a(href="#")._social-item.-vk
                        +icon('vk')
    ._bg.grid-bg
        +pictureAdaptive('bg-grid', 'png', 1918, 867, 767)