.mobile-menu
    ._body
        ._close-btn.js-close-mmenu
            +icon('cross')
        a(href="/")._logo-wrapper
            +icon('logo-dark')
            ._descriptor by work5
        nav._nav
            ._nav-item
                a(href="#")._nav-item-link Услуги
            ._nav-item.-dropdown
                ._nav-item-body
                    a(href="#")._nav-item-link О компании
                    ._nav-item-arrow.js-mmenu-dd
                        +icon('arrow-down')
                ._dropdown-box
                    nav._nav.-dropdown
                        ._nav-item
                            a(href="#")._nav-item-link Услуги
                        ._nav-item
                            a(href="#")._nav-item-link Услуги
                        ._nav-item
                            a(href="#")._nav-item-link Услуги
                        ._nav-item
                            a(href="#")._nav-item-link Услуги
            ._nav-item
                a(href="#")._nav-item-link Отзывы
        ._contacts-box
            a(href="tel:+77079509026")._phone +7 707 950 90 26
            a(href="mailto:denis54321@gmail.com")._mail denis54321@gmail.com
