.container {
  max-width: 1257px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  &:first-child {
    padding-top: 200px;
    @media (max-width: 991px) {
      padding-top: 160px;
    }
    @media (max-width: 767px) {
      padding-top: 130px;
    }
    @media (max-width: 479px) {
      padding-top: 180px;
    }
  }
}

.h1 {
  font-family: $font-secondary;
  font-size: 56px;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 50px;
  @media (max-width: 1364px) {
    font-size: 44px;
  }
  @media (max-width: 1199px) {
    font-size: 40px;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    font-size: 30px;
  }
  @media (max-width: 479px) {
    font-size: 24px;
  }
}

.h2 {
  font-family: $font-secondary;
  font-size: 56px;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 40px;
  @media (max-width: 1364px) {
    font-size: 44px;
  }
  @media (max-width: 767px) {
    font-size: 30px;
    margin-bottom: 20px;
  }
  @media (max-width: 479px) {
    font-size: 24px;
  }
}

.txt-white {
  color: $white;
}

.txt-green {
  color: $template-green;
}

.txt-pink {
  color: $template-pink;
}

.txt-yellow {
  color: $template-yellow;
}

.txt-bg-dark {
  padding: 5px 20px 10px;
  color: $white;
  background-color: $template-dark;
  border-radius: 20px;
  @media (max-width: 767px) {
    padding: 5px 12px 5px;
  }
}

.w-stars {
  position: relative;
  display: inline-block;

  .icon-star {
    width: 50px;
    height: 50px;
    position: absolute;
    @media (max-width: 991px) {
      width: 40px;
      height: 40px;
    }
    @media (max-width: 599px) {
      width: 30px;
      height: 30px;
    }
    @media (max-width: 479px) {
      width: 20px;
      height: 20px;
    }

    &:first-child {
      left: -23px;
      top: -22px;
      @media (max-width: 991px) {
        left: -18px;
        top: -17px;
      }
      @media (max-width: 599px) {
        left: -14px;
        top: -9px;
      }
      @media (max-width: 479px) {
        left: -10px;
        top: -9px;
      }
    }

    &:last-child {
      right: -22px;
      bottom: -15px;
      @media (max-width: 991px) {
        right: -20px;
        bottom: -15px;
      }
      @media (max-width: 599px) {
        right: -17px;
        bottom: -15px;
      }
      @media (max-width: 479px) {
        right: -11px;
        bottom: -5px;
      }
    }
  }
}

.w-shadow {
  position: relative;
  border-radius: 50px;

  & > *:first-child, .select2 {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 4px;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: $template-dark;
    border: 1px solid $white;
  }
}

.grid-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.abs-img {
  position: absolute;
}

.common-btn {
  display: block;
  border-radius: 50px;
  border: none;
  cursor: pointer;

  .common-btn__body {
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    padding: 20px 40px;
    border-radius: 50px;
    display: block;
    text-align: center;
    transition: .3s ease-in-out;
    @media (max-width: 767px) {
      font-size: 16px;
    }
    @media (max-width: 479px) {
      padding: 16px 40px;
    }
  }

  &--pink {
    .common-btn__body {
      color: $white;
      background-color: $template-pink;
      border: 1px solid $white;

      &:hover {
        background-color: $template-yellow;
        color: $template-dark;
        border-color: $template-yellow;
        transition: .3s ease-in-out;
      }
    }
  }

  &.w-shadow {
    &:after {
      left: 1px;
      top: 7px;
      width: calc(100% + 3px);
    }
  }
}

.more-button {
  margin-top: 10px;
  width: 100%;

  .common-btn__body {
    padding: 20px;
  }
}

.sparkle-sticker {
  position: absolute;
  z-index: 1;
  left: -20px;
  top: -150px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $template-yellow;
  border: 1px solid $template-dark;
  @media (max-width: 1364px) {
    left: 20px;
  }
  @media (max-width: 479px) {
    top: -110px;
    width: 80px;
    height: 80px;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 2px dashed $template-dark;
    border-radius: 50%;
  }

  &--lead-magnet {
    top: -40px;
    @media (max-width: 1364px) {
      left: 10px;
      top: -50px;
    }
    @media (max-width: 767px) {
      width: 70px;
      height: 70px;
      left: 2px;
      top: -25px;
    }
    @media (max-width: 479px) {
      left: 5px;
      top: -40px;
    }

    .icon-sparkle {
      @media (max-width: 767px) {
        width: 35px;
        height: 35px;
      }
    }
  }

  .icon-sparkle {
    width: 50px;
    height: 50px;
    fill: $template-dark;
    @media (max-width: 479px) {
      width: 40px;
      height: 40px;
    }
  }
}

.swiper-slider {
  overflow: hidden;
}

.slider-controls {
  display: flex;
  margin-left: auto;

  .swiper-button {
    cursor: pointer;

    .icon {
      width: 25px;
      height: 25px;
      fill: $template-dark;
      @media (max-width: 767px) {
        width: 20px;
        height: 20px;
      }
    }

    &--prev {
      transform: rotate(180deg);
      margin-right: 20px;
    }
  }
}

.lead-magnet {
  padding: 120px 0 127px;
  background-color: $white;
  @media (max-width: 991px) {
    padding: 85px 0 100px;
  }
  @media (max-width: 767px) {
    padding: 80px 0 72px;
  }

  &__inner {
    background-color: $template-green;
    border-radius: 50px;
    padding: 50px 50px 56px;
    position: relative;
    @media (max-width: 767px) {
      padding: 30px 30px 38px;
    }
    @media (max-width: 767px) {
      padding: 30px 30px 36px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__title {
    color: $white;
    @media (max-width: 1364px) {
      font-size: 44px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
    }
    @media (max-width: 479px) {
      font-size: 24px;
    }
  }

  &__btn {
    max-width: 515px;
    width: 100%;
    @media (max-width: 991px) {
      max-width: 100%;
    }
  }


}

.lead-magnet--summer {
  .lead-magnet {
    &__title {
      @media (max-width: 1199px) {
        font-size: 40px;
        margin-bottom: 173px;
      }
      @media (max-width: 767px) {
        font-size: 30px;
        margin-bottom: 154px;
        max-width: 250px;
      }
      @media (max-width: 479px) {
        font-size: 24px;
        margin-bottom: 124px;
        max-width: 210px;
      }
    }

    &__abs-img {
      &--one {
        left: -71px;
        top: -77px;
        @media (max-width: 1364px) {
          left: 0;
        }
        @media (max-width: 767px) {
          left: -32px;
          top: -57px;
        }
        @media (max-width: 479px) {
          left: -29px;
          top: -53px;
        }

        img {
          width: 174px;
          height: 174px;
          @media (max-width: 1364px) {
            width: 140px;
            height: 140px;
          }
          @media (max-width: 767px) {
            width: 115px;
            height: auto;
          }
          @media (max-width: 479px) {
            width: 100px;
          }
        }
      }

      &--two {
        left: 577px;
        top: 114px;
        @media (max-width: 1364px) {
          display: none;
        }

        .icon-mb-arrow {
          width: 246px;
          height: 87px;
          fill: $template-dark;
        }
      }

      &--three {
        left: 643px;
        bottom: -52px;
        @media (max-width: 1364px) {
          left: 580px;
        }
        @media (max-width: 1199px) {
          left: 44px;
          top: 124px;
          bottom: auto;
        }
        @media (max-width: 767px) {
          left: 29px;
          top: 124px;
        }
        @media (max-width: 479px) {
          top: 116px;
        }

        img {
          @media (max-width: 1199px) {
            width: 135px;
            height: auto;
          }
          @media (max-width: 767px) {
            width: 108px;
          }
          @media (max-width: 479px) {
            width: 76px;
          }
        }
      }

      &--four {
        right: 47px;
        top: 35px;
        @media (max-width: 1364px) {
          right: auto;
          top: 70px;
          left: 774px;
        }
        @media (max-width: 1199px) {
          left: calc(50% - 115px);
          right: auto;
          top: 100px;
        }
        @media (max-width: 767px) {
          left: auto;
          right: 26px;
          top: 75px;
        }
        @media (max-width: 479px) {
          right: 12px;
          top: 66px;
        }

        img {
          @media (max-width: 1364px) {
            width: 210px;
            height: auto;
          }
          @media (max-width: 1199px) {
            width: 240px;
          }
          @media (max-width: 767px) {
            width: 225px;
          }
          @media (max-width: 479px) {
            width: 170px;
          }
        }
      }

      &--five {
        right: -65px;
        top: 82px;
        @media (max-width: 1364px) {
          right: 0;
        }
        @media (max-width: 1199px) {
          right: 58px;
          top: 100px;
        }
        @media (max-width: 767px) {
          right: -12px;
          top: -43px;
        }
        @media (max-width: 479px) {
          right: -12px;
          top: -30px;
        }

        img {
          @media (max-width: 1199px) {
            width: 150px;
            height: auto;
          }
          @media (max-width: 767px) {
            width: 122px;
            height: auto;
          }
          @media (max-width: 479px) {
            width: 95px;
          }
        }
      }
    }
  }
}

.lead-magnet--discount {
  padding-bottom: 50px;
  @media (max-width: 767px) {
    padding-bottom: 40px;
  }

  .lead-magnet {
    &__inner {
      @media (max-width: 767px) {
        padding: 40px 30px;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__leftbox {
      flex-basis: 485px;
      margin-right: 10px;
      @media (max-width: 991px) {
        flex-basis: auto;
        max-width: 485px;
        margin-right: 0;
        margin-bottom: 40px;
      }
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }

    &__rightbox {
      flex-basis: 515px;
      @media (max-width: 1364px) {
        flex-basis: 360px;
      }
      @media (max-width: 991px) {
        flex-basis: auto;
        max-width: 630px;
        width: 100%;
      }
    }

    &__title {
      margin-bottom: 40px;
      font-weight: 900;
      @media (max-width: 1364px) {
        margin-bottom: 28px;
      }
      @media (max-width: 991px) {
        margin-bottom: 40px;
      }
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
      @media (max-width: 479px) {
        margin-bottom: 13px;
      }
    }

    &__salebox {
      background-color: $template-dark;
      border-radius: 50px;
      border: 2px solid $white;
      padding: 20px 35px;
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        padding: 20px 26px;
      }
      @media (max-width: 479px) {
        padding: 15px 20px;
      }

      .icon-dashed-arrow-right {
        width: 75px;
        height: 8px;
        margin: 0 20px;
        @media (max-width: 767px) {
          margin: 0 10px;
        }
        @media (max-width: 479px) {
          width: 58px;
          height: 6px;
        }
      }
    }

    &__old-price {
      color: #67696d;
      font-family: $font-secondary;
      font-size: 44px;
      font-weight: 800;
      position: relative;
      @media (max-width: 767px) {
        font-size: 24px;
      }
      @media (max-width: 479px) {
        font-size: 20px;
      }

      &:before {
        content: '';
        position: absolute;
        left: -6px;
        top: 23px;
        display: block;
        width: calc(100% + 12px);
        height: 2px;
        background-color: #67696d;
        transform: rotate(11deg);
        border-radius: 2px;
        @media (max-width: 767px) {
          left: -4px;
          top: 10px;
          width: calc(100% + 8px);
          transform: rotate(17deg);
        }
      }

      &:after {
        content: '';
        position: absolute;
        right: -6px;
        top: 23px;
        display: block;
        width: calc(100% + 12px);
        height: 2px;
        background-color: #67696d;
        transform: rotate(-11deg);
        border-radius: 2px;
        @media (max-width: 767px) {
          right: -4px;
          top: 10px;
          width: calc(100% + 8px);
          transform: rotate(-17deg);
        }
      }
    }

    &__price {
      color: $template-yellow;
      font-family: $font-secondary;
      font-size: 44px;
      font-weight: 800;
      @media (max-width: 767px) {
        font-size: 24px;
      }
      @media (max-width: 479px) {
        font-size: 20px;
      }
    }

    &__subtitle {
      color: $white;
      text-align: center;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.3;
      max-width: 345px;
      margin: 0 auto 27px;
      @media (max-width: 1364px) {
        font-size: 24px;
        margin-bottom: 25px;
      }
      @media (max-width: 991px) {
        max-width: 100%;
        text-align: left;
      }
      @media (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 12px;
      }
      @media (max-width: 479px) {
        font-size: 13px;
      }
    }

    &__sticker {
      position: absolute;
      left: -58px;
      top: -38px;
      z-index: 1;
      transform: rotate(-8deg);
      @media (max-width: 1364px) {
        left: 0;
      }
      @media (max-width: 991px) {
        left: -14px;
        top: -46px;
        transform: rotate(-4deg);
      }
      @media (max-width: 767px) {
        left: -17px;
        top: -32px;
      }

      &:after {
        left: 5px;
        top: 9px;
        width: calc(100% + 5px);
        @media (max-width: 767px) {
          left: 3px;
          top: 8px;
        }
      }
    }

    &__sticker-body {
      background-color: $template-pink;
      padding: 18px 30px;
      border-radius: 50px;
      border: 1px solid $white;
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        padding: 13px 23px;
      }


      .icon-sparkle {
        fill: $template-yellow;
        width: 31px;
        height: 31px;
        @media (max-width: 767px) {
          width: 22px;
          height: 22px;
        }
      }
    }

    &__sticker-text {
      font-size: 28px;
      font-weight: 600;
      color: $white;
      margin: 0 15px;
      @media (max-width: 767px) {
        font-size: 20px;
        margin: 0 10px;
      }
    }

    &__abs-img--one {
      left: calc(50% - 121px);
      top: 34px;
      @media (max-width: 1364px) {
        left: auto;
        right: 333px;
        top: 30px;
      }
      @media (max-width: 991px) {
        left: 346px;
        right: auto;
        top: 28px;
      }
      @media (max-width: 767px) {
        left: 236px;
        top: 15px;
      }
      @media (max-width: 479px) {
        display: none;
      }

      &:before {
        content: '';
        display: block;
        width: 148px;
        height: 130px;
        background: url("../img/svg/ng-lmd-arrow.svg");
        @media (max-width: 1364px) {
          width: 189px;
          height: 59px;
          background: url("../img/svg/ng-lmd-arrow2.svg");
        }
        @media (max-width: 991px) {
          width: 222px;
          height: 231px;
          background: url("../img/svg/ng-lmd-arrow3.svg");
        }
        @media (max-width: 767px) {
          width: 128px;
          height: 146px;
          background: url("../img/svg/ng-lmd-arrow4.svg");
        }
      }
    }
  }
}

.lead-magnet--price {
  padding: 60px 0;
  @media (max-width: 767px) {
    padding: 45px 0;
  }
  @media (max-width: 479px) {
    padding: 20px 0 45px;
  }

  .lead-magnet {
    &__container {
      position: relative;
    }

    &__inner {
      @media (max-width: 767px) {
        padding: 45px 30px 36px;
      }
      @media (max-width: 479px) {
        padding: 33px 20px 25px;
      }
    }

    &__title {
      max-width: 980px;
      line-height: 1.3;
      margin-bottom: 20px;
      @media (max-width: 1364px) {
        margin-bottom: 70px;
        max-width: 620px;
      }
      @media (max-width: 991px) {
        margin-bottom: 230px;
      }
      @media (max-width: 767px) {
        font-size: 28px;
        line-height: 1.4;
        max-width: 500px;
        margin-right: -1px;
        margin-bottom: 180px;
      }
      @media (max-width: 479px) {
        font-size: 20px;
        max-width: 400px;
        margin-bottom: 115px;
      }
    }

    &__arrow {
      position: absolute;
      left: 583px;
      top: 159px;
      width: 305px;
      height: 96px;
      background: url("../img/svg/ng-lmp-arrow.svg") no-repeat center/contain;
      @media (max-width: 1364px) {
        background-image: url("../img/svg/ng-lmp-arrow2.svg");
        left: 587px;
        top: 144px;
        width: 148px;
        height: 132px;
      }
      @media (max-width: 991px) {
        display: none;
      }
    }

    &__abs-img {
      &--one {
        right: 232px;
        top: 23px;
        @media (max-width: 1364px) {
          right: 180px;
          top: 30px;
        }
        @media (max-width: 991px) {
          right: auto;
          top: 210px;
          left: 190px;
        }
        @media (max-width: 767px) {
          top: 150px;
          left: 70px;
        }
        @media (max-width: 479px) {
          top: 107px;
          left: 66px;
        }

        img {
          object-fit: contain;
          @media (max-width: 1364px) {
            width: 100px;
            height: 95px;
          }
          @media (max-width: 479px) {
            width: 70px;
            height: auto;
          }
        }
      }
      &--two {
        right: 11px;
        top: 72px;
        @media (max-width: 1364px) {
          right: 20px;
          top: 120px;
        }
        @media (max-width: 991px) {
          right: 175px;
          top: 175px;
        }
        @media (max-width: 767px) {
          right: 60px;
          top: 130px;
        }
        @media (max-width: 479px) {
          right: 66px;
          top: 94px;
        }

        img {
          object-fit: contain;
          @media (max-width: 1364px) {
            width: 200px;
            height: 195px;
          }
          @media (max-width: 767px) {
            width: 160px;
            height: auto;
          }
          @media (max-width: 479px) {
            width: 100px;
          }
        }
      }
    }
  }
}

.lead-magnet--free-plan {
  padding: 65px 0 120px;
  @media (max-width: 991px) {
    padding: 30px 0 110px;
  }
  @media (max-width: 479px) {
    padding: 45px 0 110px;
  }

  .lead-magnet {
    &__container {
      position: relative;
    }

    &__inner {
      padding-bottom: 35px;
      @media (max-width: 1364px) {
        padding-bottom: 50px;
      }
      @media (max-width: 991px) {
        padding-top: 40px;
      }
      @media (max-width: 479px) {
        padding: 35px 20px 25px;
      }
    }

    &__title {
      margin-bottom:  7px;
      @media (max-width: 1364px) {
        margin-bottom: 20px;
        max-width: 800px;
      }
      @media (max-width: 991px) {
        max-width: 600px;
      }
      @media (max-width: 767px) {
        font-size: 28px;
        max-width: 380px;
      }
      @media (max-width: 479px) {
        max-width: 280px;
        font-size: 20px;
        margin-bottom: 15px;
      }
    }

    &__bottom-box {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      @media (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__free-sticker {
      background-color: $template-yellow;
      padding: 48px 87px;
      border-radius: 50%;
      font-family: $font-secondary;
      font-weight: 800;
      font-size: 33px;
      position: relative;
      transform: rotate(-5deg);
      margin-left: 70px;
      @media (max-width: 1364px) {
        margin-left: 0;
      }
      @media (max-width: 991px) {
        margin-bottom: 35px;
      }
      @media (max-width: 767px) {
        font-size: 26px;
        padding: 38px 75px;
      }
      @media (max-width: 479px) {
        font-size: 20px;
        padding: 26px 45px;
        align-self: center;
        margin-bottom: 15px;
      }

      &:before {
        content: "";
        display: block;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        position: absolute;
        left: 3px;
        top: 3px;
        border-radius: 50%;
        border: 2px dashed $template-dark;
      }
    }

    &__btn {
      margin: 0 30px 20px 0;
      @media (max-width: 1364px) {
        max-width: 415px;
        margin: 0;
      }
      @media (max-width: 991px) {
        max-width: 100%;
        width: 100%;
      }
    }

    &__arrow {
      position: absolute;
      left: 528px;
      top: 141px;
      width: 346px;
      height: 123px;
      background: url("../img/svg/ng-lmfp-arrow.svg") no-repeat center/contain;
      @media (max-width: 1364px) {
        background-image: url("../img/svg/ng-lmfp-arrow2.svg");
        left: 470px;
        top: 125px;
        width: 204px;
        height: 113px;
      }
      @media (max-width: 991px) {
        background-image: url("../img/svg/ng-lmfp-arrow3.svg");
        left: 375px;
        top: 175px;
        width: 215px;
        height: 195px;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}

.breadcrumbs {

  &--absolute {
    position: absolute;
    left: 0;
    top: 125px;
    width: 100%;
    z-index: 1;
    @media (max-width: 479px) {
      top: 170px;
    }
  }

  &__items {
    display: flex;
  }

  &__item {
    color: $white;
    margin-right: 25px;
    position: relative;
    @media (max-width: 479px) {
      font-size: 14px;
    }

    &:hover {
      text-decoration-color: $white;
    }

    &:before {
      content: "/";
      display: block;
      position: absolute;
      right: -16px;
      top: 0;
    }

    &:last-child {
      margin-right: 0;

      &:before {
        display: none;
      }
    }
  }
}

.opinions {
  background-color: $white;
  padding: 50px 0;
  @media (max-width: 1364px) {

  }

  &__text {
    font-size: 20px;
    max-width: 910px;
    margin-bottom: 30px;
    line-height: 1.3;
    @media (max-width: 767px) {
      font-size: 16px;
    }
    @media (max-width: 479px) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  &__items {
    display: flex;
    margin: -10px;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      margin: -5px;
    }
    @media (max-width: 479px) {
      margin: -5px 0;
    }
  }

  &__item {
    background-color: $template-dark;
    flex-basis: calc(25% - 20px);
    max-width: calc(25% - 20px);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    @media (max-width: 1364px) {
      flex-basis: calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
    @media (max-width: 767px) {
      flex-basis: calc(50% - 10px);
      max-width: calc(50% - 10px);
      padding: 12px;
      border-radius: 20px;
      margin: 5px;
    }
    @media (max-width: 479px) {
      flex-basis: 100%;
      max-width: 100%;
      margin: 5px 0;
    }
  }

  &__item-heading {
    background-color: $template-yellow;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }

    .icon-sparkle {
      width: 25px;
      height: 25px;
      margin-right: 6px;
      fill: $template-pink;
      flex-shrink: 0;
    }
  }

  &__item-heading-text {
    font-family: $font-secondary;
    font-size: 28px;
    font-weight: 800;
    color: $template-dark;
  }

  &__item-text {
    color: $white;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}


.modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}