$black: #000;
$white: #fff;
$transparent: rgba(255, 255, 255, 0);
$template-green: #32cc00;
$template-dark: #3f4145;
$template-pink: #f06;
$template-yellow: #e6ea24;
$font-secondary: "MontserratAlternates", sans-serif;
